body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

h2 {
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    width: 85%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#togglePassword {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

#strengthBar {
    height: 10px;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #ddd;
}

.weak { background-color: red; width: 33%; }
.medium { background-color: orange; width: 66%; }
.strong { background-color: green; width: 100%; }

#strengthText {
    font-weight: bold;
    margin-top: 5px;
}

#passwordTips {
    font-size: 12px;
    color: gray;
    margin-top: 10px;
}